<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344361329222-6v20vea7fm73mgpdtjqkvrggem8lpl3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344361329222-6v20vea7fm73mgpdtjqkvrggem8lpl3j</string>
	<key>API_KEY</key>
	<string>AIzaSyAw-fQS-gduQZm2zYf6RDZCQ3HaNx3sAGg</string>
	<key>GCM_SENDER_ID</key>
	<string>344361329222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NikitaKravtsov.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-639d3</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-639d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344361329222:ios:a4a532a9b42a782a56e047</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-639d3.firebaseio.com</string>
</dict>
</plist>